.contacts {
    padding: 7vw 0px 7vw 0px;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
    }

    &__item-content {
        display: flex;
        align-items: center;
    }

    &__icon {
        font-size: 40px;
    }

    &__text-link {
        color: #000000;
        @include adaptiv-font(20, 14);
        &:hover {
            text-decoration: underline;
        }
    }

    &__item-map {
        max-width: 1090px;
        height: 590px;
    }
    &__phone {
        &-wrap {
            margin: 20px 0px 20px 0px;
        }
    }
}
