@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype"),
        url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans-SemiBold.eot");
    src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../fonts/OpenSans-SemiBold.ttf") format("truetype"),
        url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.ttf") format("truetype"),
        url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import "reset";
@import "adapfont";

body {
    font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 20px;
    line-height: 1.5;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 10px;
}
.section__title {
    font-size: 80px;
    @include adaptiv-font(80, 26);
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 0px 0px 7vw 0px;
}

@import "header";
@import "offer";
@import "services";
@import "contacts";
@import "page";
@import "footer";
